body {
  background-color: rgb(41, 55, 66) !important;
  color: white !important;
}



.nav-link {
    font-size: 25pt !important;
}


.custom-link {
    background-image: linear-gradient(
      to right,
      #54b3d6,
      #5d5178 50%,
      #c3aa7e 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #092355;
    transition: all 0.3s ease-in-out;
    
  }
  
  .custom-link:before {
    content: '';
    background: #c3aa7e;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
    
  }
  
  .custom-link:hover {
    background-position: 0;
    -webkit-text-fill-color: #7b75bb; /* Add this line to change the text color on hover */
  }
  
  .custom-link:hover::before {
    width: 100%;
  }
  


  .center-column {
    text-align: center;
  }

  .col-8, .col-4 {
  height: 650px; /* Set a fixed height for the columns */
}


.home-p {
    font-size: 15pt;
}


@media (max-width: 1200px) {
  .col-md-3, .col-md-6 {
    flex-basis: 100%;
    max-width: 100%;
    text-align: center;
  }
}

.img-resize {
  max-width: 100%; /* Adjust the value as needed */
  height: auto;
}


.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}


.img-rotate {
  transform: rotate(180deg);
}

.img-shrink {
  max-width: 100%; /* Adjust the value as needed */
  height: auto;
}


footer{
    height: 500px;
    background-color: #adb5bd;
}



@media (max-width: 1200px) {
  .col-md-3, .col-md-6 {
    flex-basis: 100%;
    max-width: 100%;
    text-align: center !important;  /* Center align text on smaller screens */
  }
  
  /* Center align text for specific paragraphs */
  .text-center p {
    text-align: center !important; /* Apply center alignment for paragraphs in the 'text-center' class */
  }
}


.backgroundcolor{
  background-color: #A0ABD3;
}

.navbar-brand {
  display: none;
}

/* Display the .navbar-brand in mobile view */
@media (max-width: 991px) {
  .navbar-brand {
    display: block;
  }
}

footer {
  height: auto; /* Adjust the height as needed */
  background-color: #adb5bd; /* Add your desired background color */
}


/*  
Removed the custom .container class. Container is a reserved class for bootstrap :)
*/

.horizontal-accordion {
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
}

@media (max-width: 991px) {
  .hide-nav {
    display: none; 
  }
}




.space-above {
  padding-top: 8%;
}

.space-above2 {
  padding-top: 2%;
}

@media (max-width: 991px) {
  .text-right {
    padding-top:5% !important;
    padding-bottom:5% !important;
    text-align: center; 
  }
}

@media (max-width: 991px) {
  .text-left {
    padding-top:5% !important;
    padding-bottom:5% !important;
    text-align: center; 
  }
}

.center-cup {
  text-align: center;
}