/* CSS Document */
@font-face {
	font-family: "Tahu";
	src: url(../Tahu.ttf);
}
body {
	text-align: center !important;

}
/*
.title-logo {
	font-family: "Tahu"!important;
	font-weight: 500!important;
	font-size: 50pt!important;
	margin-top: -15px!important;
}
*/

.title-logo {
	font-family: 'Permanent Marker', cursive;
font-family: 'Style Script', cursive;
font-weight: 500!important;
	font-size: 50pt!important;
	margin-top: -5px!important;
}

.free-shipping {
	background-color: black;
	color: white;
	
}

p {
	font-size: 15pt !important;
}

#product1 {
	text-align:center;
	
}

#product1 .feat-container {
	
	display: flex;
	justify-content: space-between;
	padding-top:20px;
	flex-wrap: wrap;
	margin-left: 20px;
	margin-right: 20px;
}



#product1 .product {
	width: 23%;
	min-width: 250px;
	padding: 10px 12px;
	border: 1px solid #cce7d0;
	border-radius: 25px;
	
	box-shadow: 20px 20px 30px rgba(0,0,0, 0.02);
	margin: 15px 0;
	transition: 0.2s ease;
	position: relative;
	
}

#product1 .product:hover{
	box-shadow: 20px 20px 30px rgba(0,0,0, 0.09);
}

#product1 .product img {
	width: 100%;
	border-radius: 20px;
}

#product1 .product .product-description {
	text-align: start;
	padding: 5px 0;
}
#product1 .product .product-description span{
	color: #AF090B;
	font-size: 20px;
}

#product1 .product .product-description .product-name {
	padding-top: 2px;
	font-size: 25pt !important;
	color: #1a1a1a;
}
#product1 .product .product-description .star-rating i {
	font-size: 20px;
	color: #AF090B;
	
}

#product1 .product .product-description .price {
	font-weight: 700;
	font-size: 20pt !important;
	
}
#product1 .product .cartlogo {
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50px;
	background-color: #E98F90;
	border: 1px solid;
	position: absolute;
	bottom: 20px;
	right: 10px;
	cursor: pointer;
}

.footer-information {
	background-color: black;
	margin: 0;
	padding:0;
}

.email-signup {
	color:#ffffff;
	font-size: 16pt;
}

.email-signup-header{
	color:#ffffff;
	font-size: 22pt;
}

.emailsignup {
	width: 300px;
}
.footer-links {
	display: flex;
	justify-content:space-between;
	
	font-size: 20pt !important;
	padding-right: 200px !important;
	padding-left: 200px !important;
	line-height: 27px;
}
.mission, .links, .socials{
	font-size: 13pt !important;
	max-width: 500px;
	border: solid 2px;
	padding: 20px;
}
	
.product-page1 {
	display: flex;
	border: solid 2px #AF090B;
	
}

.product-photo {
	width: 600px;
	margin-right: 125px;
	margin-top: 20px;
	margin-bottom: 20px;
	border: solid 2px #AF090B;

}

.product-sidebar-photos {

}

.product-sidebar-photo1 {
	display: flex;
	justify-content: center;
	width: 100px;
	height: 100px;
	margin-left: 25px;
	margin-right: 20px;
	margin-top: 25px;
	border: solid 2px #AF090B;
	cursor: pointer;
	
}

.product-page-title {
	margin-top: 20px;
	font-family: 'Permanent Marker', cursive;
font-family: 'Style Script', cursive;
	font-weight: 500!important;
	font-size: 40pt !important;
}

.product-page-description {

}

.product-information {
	max-width: 350px
}

.carousel-inner {
	border-radius: 40px;
}

footer {
	margin:0;
	padding:0;
	height:100px;
}




.faq-main {
	display: flex;
	justify-content: space-between;
	padding-left: 100px;
	padding-right: 100px;
	
}
.faq-headers {
	color: #af1f24;
	font-size: 18pt !important;
}

.faq-text {
	padding-right: 5%;
	padding-left: 5%;
	font-size: 16pt !important;
}

ul {
	list-style-image: url("/images/logocrown.png");
  }

  .center-ul {
	text-align: center; /* Center the text within the UL */
	padding: 0; /* Remove any padding */
	margin: 0; /* Remove any margin */
	list-style-position: inside; /* Position the list item markers inside the UL */
  }

  .royalred {
	color:#600a0d;
  }

.col-md-6 {
	border: solid #600a0d right 1px;
}

.product-cart-logo {
	width: 400px;
	height: 75px;
	line-height: 90px;
	border-radius: 50px;
	background-color: #E98F90;
	border: 1px solid;
	position: absolute;
	bottom: 0px;
	right: 375px;
	cursor: pointer;
}	
.cartlogo-2 {
	font-size: 25pt;
}

.indextext {
	margin-top: 20px;
}



  /* Sidebar */
.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	padding: 235px 0 0; /* Height of navbar */
	box-shadow: 0 4px 5px 0 rgb(0 0 0 / 5%), 0 4px 10px 0 rgb(0 0 0 / 5%);
	width: 240px;
	z-index: 600;
	}
	
	@media (max-width: 991.98px) {
	.sidebar {
	width: 100%;
	}
	}
	.sidebar .active {
	border-radius: 5px;
	box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
	}
	
	.sidebar-sticky {
	position: relative;
	top: 0;
	height: calc(100vh - 48px);
	padding-top: 0.5rem;
	overflow-x: hidden;
	overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
	}

	.nav-link{
		font-size: 15pt !important;
	}